body{direction:rtl;
    background-color:rgb(60,60,60)
    }
.calc{background-color:black;
    border: solid 1px orange;
    border-radius:8px;
    width:234px;
    padding:5px;
    }
.operation{width:224px;
    padding-top:15px;
    font-size:30px;
    border: solid 1px orange;
    border-radius:8px;
    }
.f{width:55px;
    height:45px;
    margin-top:5px;
    margin-right:0px;
    border: solid 1px orange;
    border-radius:8px;
    }
.b{width:55px;
    height:45px;
    margin-top:5px;
    margin-right:0px;
    float:center;
    color:white;
    background-color:orange;
    border: solid 1px orange;
    border-radius:8px;
    }
.witc{direction:ltr;
    margin-left:10px;
    margin-top:-300px;
    }